@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}
body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}
p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
button {
  border: 0;
  background-color: transparent;
}
input:focus, textarea:focus, select:focus {
  outline: none;
}
@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}
p.success {
	color: green;
}
p.danger {
	color: red;
}
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212;
}
nav.navbar a.navbar-brand {
    width: 9%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}
span.navbar-text {
    display: flex;
    align-items: center;
}
.social-icon {
    display: inline-block;
    margin-left: 24px;
}
.social-icon a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
    transform: scale(1);
}
.social-icon a img {
	width: 50%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
    box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
.banner {
  margin-top: 0;
  padding: 260px 0 100px 0;
  background-image: url('./assets/img/banner-bg.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, #01204C -5.91%, #4A2FBD 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.banner p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}
.banner img {
  animation: updown 3s linear infinite;
}
@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}
.skill {
  padding: 0 0 50px 0;
  position: relative;
}
.skill-bx {
  background: #151515;
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: -60px;
}
.skill h2 {
	font-size: 45px;
	font-weight: 700;
}
.skill p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
}
.skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.skill-slider .item img {
  width: 50%;
  margin: 0 auto 15px auto;
}
.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}
.project {
  padding: 80px 0;
  position: relative;
  background-color: black;
}
.project h2 {
  font-size: 3rem; 
  font-weight: 700;
  text-align: center;
  
}

.project-row {
  margin-bottom: 100px; /* Adjust the value as needed */
}


.project p {
  color: #B8B8B8;
  font-size: 1.125rem; 
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px;
  text-align: center;
  width: 90%; 
  max-width: 600px; 
}
.project .nav.nav-pills {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 0.5rem;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.1);
}
.project .nav.nav-pills .nav-item {
  flex-grow: 1;
  text-align: center;
}
.project .nav.nav-pills .nav-link {
  background-color: transparent;
  padding: 1rem 0.5rem; /* Adjust padding */
  color: #fff;
  font-size: 1rem; /* Responsive font size */
  transition: 0.3s ease-in-out;
  display: block; /* Ensure proper display */
}
.proj-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
  text-align: center;
}
/* Define the hover state */
.proj-imgbx img:hover {
  transform: scale(1.1); /* Scales the image up to 105% of its original size */
  box-shadow: 0 4px 20px rgba(0,0,0,0.25); /* Adds a shadow effect */
}
.proj-imgbx img {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  width: auto; 
  max-height: 50vh; 
  object-fit: contain;
  display: block; 
  margin-left: auto;
  margin-right: auto;
}
.proj-imgbx::before,
.proj-txtx {
 
  padding: 10px 0; /* Add some padding */
  transition: 0.4s ease-in-out;
  
}


.proj-txtx span {
  transition: 0.5s;
  opacity: 0.6;
}
/* Target the h4 tag specifically for the title */
.proj-txtx h4 {
  font-size: 1.5rem; 
  opacity: 1; /* Full opacity for the title */
}


@media (max-width: 768px) {
  .project h2,
  .project p {
    font-size: 1.5rem;
  }
  .project .nav.nav-pills .nav-link {
    padding: 10px 5px; 
    font-size: 0.875rem;
  }
 
  .proj-txtx span {
    font-size: 0.875rem; 
  }
}
.project {
  padding: 80px 0;
  position: relative;
  background-color: black;
}
.project h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px; 
}
.project p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 0 auto 30px;
  text-align: center;
  width: 56%;
}
.project .nav.nav-pills {
  display: flex;
  flex-wrap: nowrap; 
  justify-content: center; 
  gap: 2px; 
  margin: 20px auto;
  overflow: hidden;
}
.project .nav.nav-pills .nav-item {
  flex: 1; 
  text-align: center;
  white-space: nowrap; 
}
.project .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: #fff;
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}
.project .nav.nav-pills .nav-item:first-child .nav-link {
 border-left: none; 
}
.project .nav.nav-pills .nav-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  z-index: -1;
  opacity: 0; 
  transition: 0.3s ease-in-out;
  
}
.project .nav.nav-pills .nav-link:hover::before,
.project .nav.nav-pills .nav-link.active::before {
  opacity: 1; 
}
.project .nav.nav-pills .nav-link.active {
  border: 1.5px solid rgba(255, 255, 255, 1);
  
}
@media (max-width: 992px) {
  .project h2 {
    font-size: 2rem;
  }
  .project p {
    font-size: 1rem;
    width: 80%;
  }
  .project .nav.nav-pills .nav-link {
    font-size: 0.85rem; 
    padding: 10px 4px; 
  }
}
@media (max-width: 768px) {
  .project .nav.nav-pills {
    flex-wrap: wrap; 
  }
  .project .nav.nav-pills .nav-link {
    font-size: 0.8rem; 
    padding: 8px 2px;
  }
}
@media (max-width: 576px) {
  .project h2 {
    font-size: 1.5rem;
  }
  .project p {
    font-size: 0.85rem;
    width: 100%;
  }
  .project .nav.nav-pills .nav-link {
    padding: 8px 2px; 
    font-size: 0.75rem; 
  }
}

.justify-text {
  text-align: justify;
}

.proj-imgbx:hover .tap-me {
  opacity: 1; /* Full opacity when the card is hovered */
  color: #fff;
 
}

.tap-me {
  
  position: absolute;
  opacity: 0.6;
  top: 50%; /* Center vertically in the card */
  left: 50%; /* Center horizontally in the card */
  transform: translate(-50%, -50%); /* Adjust for exact centering */ 
  color: #fff;
  /*color: #EABE6C; /* Text color */
  font-size: 20px; /* Font size */
  font-weight: bold; 
  text-align: center;
  text-shadow: 
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000; /* Outline effect */
  pointer-events: none; /* Prevents the text from interfering with click events */
  z-index: 10; /* Ensure it's above the image */
}

.proj-icons svg {
  font-size: 30px; /* Adjust as needed */
  color: #fff; /* Adjust as needed */
  width: 35px; /* Adjust as needed */
  height: 35px; /* Adjust as needed */
  padding: 2.5px;
  margin-bottom:50 ; 
  
}

/* Style for the icon containers */
.tech-icon {
  
  /* justify-content: center; */
  align-items: center; 
   margin: 0.3px; /* Adjust spacing around icons as needed */
  display: inline-flex;
  transition: transform 0.3s ease-in-out; /* Smooth transformation on hover */
}

/* Hover effect for the icons */
.tech-icon:hover {
  transform: scale(1.4); /* Enlarges the icon to 120% of its original size on hover */
}

  /* Carousel adjustments for a balanced view */
.carousel-inner {
  height: auto; /* Allow height to adjust based on the image */
  max-height: 75vh; /* Limit maximum height to ensure it fits within the viewport */
}

/* ProjectCard.css */
.tech-stack-label {
  color: #fff; /* Updated color */
  font-weight: bold; 
  font-style: italic;
}

.slick-prev:before, .slick-next:before {
  color: #9E3584 !important; /* Adjust the color as needed for visibility */
  size: 30px !important;
  font-size: 30px !important; /* Increase the font size as needed */
  z-index: 100 !important; /* Ensure arrows are above other content */
}

.carousel-item img {
  max-width: 100%;
  max-height: 70vh; /* Limit image height to prevent overflow */
  height: auto; /* Maintain aspect ratio */
  object-fit: contain; /* Fit the image within the container without cropping */
  margin: auto; /* Center the image within the carousel item */
}

/* Ensuring the carousel is fully responsive */
@media (max-width: 768px) {
  .carousel-item img {
    max-height: 50vh; /* Adjust max height for medium devices */
  }
}

@media (max-width: 576px) {
  .carousel-item img {
    max-height: 40vh; /* Adjust max height for small devices */
  }
}


/* Style for all dots in react-slick */
/* Ensure any pseudo-elements on the dots are neutralized */
.slick-dots li button:before,
.slick-dots li button:after {
  content: none; /* Or 'display: none;' depending on what works best */
}

/* Revised custom styling for all dots */
.slick-dots li button {
  width: 20px; /* Width of dots */
  height: 20px; /* Height of dots */
  border-radius: 50%; /* Ensures dots are round */
  border: 2px solid #000; /* Border for visibility */
  display: inline-flex; /* Center content */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin: 0 5px; /* Spacing between dots */
  padding: 0; /* No padding needed */
  background-color: #fff; /* Default dot color */
  opacity: 0.75; /* Slightly transparent by default */
  position: relative; /* For positioning pseudo-elements, if any */
  overflow: hidden; /* Prevents any part of pseudo-elements from being visible */
}

/* Active dot styling */
.slick-dots li.slick-active button {
  background-color: #ff2e5f; /* Bright color for active dot */
  border-color: #ff2e5f; /* Same color border for consistency */
  opacity: 1; /* Full opacity for visibility */
}


/* Increase arrow size */
.slick-prev, .slick-next {
  font-size: 30px; /* Adjust size as needed */
}


/*   next component  */
.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}
.contact {
  background: linear-gradient(90.21deg, #01204C -5.91%, #4A2FBD 111.58%);
  padding: 60px 0 200px 0;
}
.contact img {
  width: 92%;
}
.contact h2 {
	font-size: 45px;
	font-weight: 700;
  margin-bottom: 30px;
}
.contact form input, .contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.contact form input:focus, .contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.contact form input::placeholder, .contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.contact form button {
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 0;
  position: relative;
  transition: 0.3s ease-in-out;
}
.contact form button span {
  z-index: 1;
  position: relative;
}
.contact form button:hover {
  color: #fff;
}
.contact form button::before {
  content: "";
  background: #121212;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.contact form button:hover::before {
  width: 100%;
}
.project-modal-content {
  background-color: #333; 
  color: #fff; 
}
.project-modal-header,
.project-modal-body {
  border-bottom: 1px solid #444;
}
.project-modal-title {
  color: #FFD700; 
}
.technologies-used h5,
.technologies-used ul {
  color: #FFD700; 
}
.technologies-used ul li {
  list-style-type: none; 
  margin-bottom: 5px; 
}
@media (max-width: 768px) {
  .project-modal-title {
    font-size: 20px; 
  }
  .technologies-used h5 {
    font-size: 18px; 
  }
  .technologies-used ul li {
    font-size: 16px; 
  }
}
@media (max-width: 576px) {
  .project-modal-content {
    padding: 15px;
  }
  .project-modal-title,
  .technologies-used h5,
  .technologies-used ul li {
    font-size: 14px;
  }
}

.purpleletters-highlight{
   color: #9195F6;
  /* color: #836FFF; */
  font-weight: 700;
}
.victor-highlight {
  color: #FDA403; /* This is the specified color */
}

.footer {
  padding: 0 0 50px 0;
  background-image: url('./assets/img/footer-bg.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.newsletter-bx {
  background: #FFFFFF;
  border-radius: 55px;
  color: #121212;
  padding: 85px 125px;
  margin-bottom: 80px;
  margin-top: -122px;
}
.newsletter-bx h3 {
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.2em;
}
.new-email-bx {
  background: #fff;
  padding: 5px;
  border-radius: 20px;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
}
.new-email-bx::before {
  content: "";
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
}
.new-email-bx::after {
  content: "";
  background: #fff;
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.new-email-bx input {
  width: 100%;
  color: #121212;
  font-weight: 500;
  background: transparent;
  border: 0;
  padding: 0 15px;
}
.new-email-bx button {
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  padding: 20px 65px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 18px;
}
.footer img {
  width: 10%;
}
.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #B8B8B8;
  letter-spacing: 0.5px;
  margin-top: 20px;
}



/** VERTICAL TIMELINE */
/* Remove the color property from here to avoid global color application */
.vertical-timeline-element {
  position: relative;
  margin: 2em 0;
}

/* Now, define styles for each specific class */
.vertical-timeline-element-title {
  color: black; /* Example color - adjust as needed */
  margin: 0;
  font-weight: bold;
  font-size: 23px; /* Example size - adjust as needed */
}

.vertical-timeline-element-subtitle {
  color: #707070; /* Example color - adjust as needed */
  margin: 0;
  font-size: 13px; /* Example size - adjust as needed */
}

.vertical-timeline-element-description {
  color: #505050; /* Example color - adjust as needed */
  margin: 1em 0 0;
  line-height: 1.6;
  font-size: 16px; /* Example size - adjust as needed */
}

.vertical-timeline-element-date {
  color: #FDA403; /* Example color - adjust as needed */
  float: left; /* Keeps existing alignment */
  padding: .8em 0;
  font-size: 36px;
  font-weight: 800;
}

/* Remember to adjust these styles as per your design requirements */

.vertical-timeline-element > div {
  min-height: 1px;
}
.vertical-timeline-element:after {
  content: "";
  display: table;
  clear: both;
}
.vertical-timeline-element:first-child {
  margin-top: 0;
}
.vertical-timeline-element:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .vertical-timeline-element {
    margin: 4em 0;
  }
  .vertical-timeline-element:first-child {
    margin-top: 0;
  }
  .vertical-timeline-element:last-child {
    margin-bottom: 0;
  }
}

.vertical-timeline-element-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.vertical-timeline-element-icon.shadow-size-small {
  box-shadow: 0 0 0 2px white, inset 0 1px 0 rgba(0, 0, 0, 0.08), 0 2px 0 4px rgba(0, 0, 0, 0.05);
}

.vertical-timeline-element-icon.shadow-size-medium {
  box-shadow: 0 0 0 3px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 5px rgba(0, 0, 0, 0.05);
}

.vertical-timeline-element-icon.shadow-size-large {
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 4px 0 6px rgba(0, 0, 0, 0.05);
}
.vertical-timeline--one-column-right .vertical-timeline-element-icon {
  right: 0;
  left: unset;
}

.vertical-timeline-element-icon svg {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline--two-columns .vertical-timeline-element-icon {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
  }
}

/* Icon animations */
.vertical-timeline-element-icon {
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
.vertical-timeline--animate .vertical-timeline-element-icon.is-hidden {
  visibility: hidden;
}
.vertical-timeline--animate .vertical-timeline-element-icon.bounce-in {
  visibility: visible;
  -webkit-animation: cd-bounce-1 0.6s;
  -moz-animation: cd-bounce-1 0.6s;
  animation: cd-bounce-1 0.6s;
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.vertical-timeline-element-content {
  position: relative;
  margin-left: 60px;
  background: #fff;
  opacity: 0.9;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #ddd;
}

.vertical-timeline--one-column-right .vertical-timeline-element-content {
  margin-right: 60px;
  margin-left: unset;
}

.vertical-timeline-element--no-children .vertical-timeline-element-content {
  background: transparent;
  box-shadow: none;
}
.vertical-timeline-element-content:after {
  content: "";
  display: table;
  clear: both;
}
.vertical-timeline-element-content h2 {
  color: #303e49;
}
.vertical-timeline-element-content p, .vertical-timeline-element-content .vertical-timeline-element-date {
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 500;
}
.vertical-timeline-element-content .vertical-timeline-element-date {
  display: inline-block;
}
.vertical-timeline-element-content p {
  margin: 1em 0 0;
  line-height: 1.6;
}

.vertical-timeline-element-title {
  margin: 0;
}

.vertical-timeline-element-subtitle {
  margin: 0;
}

.vertical-timeline-element-content .vertical-timeline-element-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
.vertical-timeline-element-content-arrow {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;

}

.vertical-timeline--one-column-right .vertical-timeline-element-content-arrow {
  content: '';
  position: absolute;
  top: 16px;
  right: unset;
  left: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-left: 7px solid white;
}

.vertical-timeline--one-column-right .vertical-timeline-element-content::before {
  left: 100%;
  border-left: 7px solid white;
  border-right: unset;
}

.vertical-timeline-element--no-children .vertical-timeline-element-content::before {
  display: none;
}

.vertical-timeline-element--no-children .vertical-timeline-element-content-arrow {
  display: none;
}

@media only screen and (min-width: 768px) {
  .vertical-timeline-element-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .vertical-timeline-element-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .vertical-timeline-element-content .vertical-timeline-element-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .vertical-timeline--two-columns .vertical-timeline-element-content {
    margin-left: 0;
    padding: 1.5em;
    width: 44%;
  }
  .vertical-timeline--two-columns .vertical-timeline-element-content-arrow {
    top: 24px;
    left: 100%;
    transform: rotate(180deg);
  }

  .vertical-timeline--two-columns .vertical-timeline-element-content .vertical-timeline-element-date {
    position: absolute;
    width: 100%;
    left: 124%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }

  .vertical-timeline--two-columns .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content,
  .vertical-timeline--two-columns .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content {
    float: right;
  }
  .vertical-timeline--two-columns .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content-arrow,
  .vertical-timeline--two-columns .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content-arrow {
    top: 24px;
    left: auto;
    right: 100%;
    transform: rotate(0deg);
  }

  .vertical-timeline--one-column-right .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content-arrow,
  .vertical-timeline--one-column-right .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content-arrow {
    top: 24px;
    left: 100%;
    right: auto;
    transform: rotate(0deg);
  }

  .vertical-timeline--two-columns .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content .vertical-timeline-element-date,
  .vertical-timeline--two-columns .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content .vertical-timeline-element-date {
    left: auto;
    right: 124%;
    text-align: right;
  }
}

/* Box animations */
.vertical-timeline--animate .vertical-timeline-element-content.is-hidden {
  visibility: hidden;
}
.vertical-timeline--animate .vertical-timeline-element-content.bounce-in {
  visibility: visible;
  -webkit-animation: cd-bounce-2 0.6s;
  -moz-animation: cd-bounce-2 0.6s;
  animation: cd-bounce-2 0.6s;
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .vertical-timeline--two-columns.vertical-timeline--animate .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content.bounce-in,
  .vertical-timeline--two-columns.vertical-timeline--animate .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}

@media only screen and (max-width: 1169px) {
  .vertical-timeline--animate .vertical-timeline-element-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}

@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

.vertical-timeline * {
  box-sizing: border-box;
}

.vertical-timeline {
  width: 95%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  padding: 2em 0;
}
.vertical-timeline::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

.vertical-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: var(--line-color);
}

.vertical-timeline.vertical-timeline--one-column-right::before {
  right: 18px;
  left: unset;
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline.vertical-timeline--two-columns {
    width: 90%;
  }
  .vertical-timeline.vertical-timeline--two-columns:before {
    left: 50%;
    margin-left: -2px;
  }
}

/* Additional styles for the timeline section */
.timeline-section {
  padding: 40px;
  text-align: center;
  margin-bottom: 2em; /* Adjust spacing as needed */
}


.marquee-title {
  font-size: 3rem; /* Large, centered text */
  margin: 1rem 0; /* Spacing around the title */
  font-weight: 900;
  color: #fff;
  margin-top: auto;
   
}

.timeline-title {
  font-size: 2.5rem; /* Large, centered text */
  margin: 1rem 0; /* Spacing around the title */
  font-weight: bold;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .timeline-title {
    font-size: 2rem; /* Slightly smaller font size on smaller screens */
  }
}

/* Ensure existing styles are correctly applied, especially for responsiveness */
.vertical-timeline {
  padding-top: 2em; /* Additional padding to separate from the title */
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline--two-columns:before {
    left: calc(50% - 2px); /* Ensure the line aligns correctly in the center */
  }
}


/* MARQUEE OF ICONS */

.icon-marquee-section {
  text-align: center;
  margin-bottom: 25px; 
  /* background: linear-gradient(90.21deg, #A43580 -5.91%, #4A2FBD 111.58%); */
  background-color: #151515; 
  opacity: 0.6;
}

.marquee-title {
  
  font-size: 2rem; /* Title size */
  font-weight: 700;
  margin-bottom: 30px;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icon-marquee-container {
  overflow: hidden;
  padding: 30px 0; /* Top and bottom padding increased for overall container */
  margin-bottom: -25px; /* Increased bottom space to separate from next section */
  margin-top: 30px;
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  width: calc(200%); /* Example: adjust based on your content */
  margin-bottom: 50px; /* Added to only the first row; remove from the second if needed */
}

.scroll-left {
  animation-name: scrollLeft;
  animation-duration: 35s;
}

.scroll-right {
  animation-name: scrollRight;
  direction: rtl; /* Reverse the direction for the right scroll */
  animation-duration: 35s;
}

.marquee-icon {
  font-size: 60px; /* Icon size increased */
  padding: 0 30px; /* Spacing between icons increased */
  opacity: 1;
}

@keyframes scrollLeft {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

@keyframes scrollRight {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0%); }
}

/* Ensure the last scrolling-wrapper doesn't have a bottom margin */
.scrolling-wrapper:last-child {
  margin-bottom: 0;
}
.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  /* Ensure the wrapper is wide enough for a continuous loop */
  width: calc(200%); /* Example: adjust based on your content */
}